@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color:#000300;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

::-webkit-scrollbar {
  display: none;
}

/* for card components rgb(52, 52, 52) jet black */

